<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.u8.sdk" >

    <!-- Common permission -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- SMS pay permission -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- YouYiFu permission -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <!-- 一键登录 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--suppress DeprecatedClassUsageInspection -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application>
        <activity
            android:name="cn.m4399.common.permission.AuthActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:multiprocess="false"
            android:screenOrientation="behind"
            android:theme="@style/m4399FullscreenTheme" />

        <!-- For 4399 recharging SDK. -->
        <activity
            android:name="cn.m4399.recharge.ui.activity.RechargeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@style/m4399TranslucentFullscreenActivityTheme" />

        <!-- For 4399 Operation SDK -->
        <activity
            android:name="cn.m4399.operate.ui.activity.LoginActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@style/m4399TranslucentFullscreenActivityTheme" />
        <activity
            android:name="cn.m4399.operate.ui.activity.UserCenterActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="false"
            android:screenOrientation="behind"
            android:theme="@style/m4399TranslucentFullscreenActivityTheme">
            <intent-filter>
                <action android:name="cn.m4399.sdk.action.USER_CENTER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.m4399.operate.ui.activity.CustomWebActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@style/m4399TranslucentFullscreenActivityTheme" />

        <activity
            android:name="cn.m4399.operate.ui.activity.CommonActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@style/m4399TranslucentFullscreenActivityTheme" />
        <activity
            android:name="cn.m4399.operate.ui.activity.GetActivationCodeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@style/m4399TranslucentFullscreenActivityTheme" />

        <!-- 注意！ AliPay SDK属于第三方支付SDK，需要根据游戏在此实际横竖屏方向设置方向 -->
        <!-- For AliPay SDK -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- 注意！ YouYiFu SDK属于第三方支付SDK，需要根据游戏在此实际横竖屏方向设置方向 -->
        <!-- For YouYiFu -->
        <activity
            android:name="com.arcsoft.hpay100.HPaySdkActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.arcsoft.hpay100.web.HPayWebActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="behind"
            android:theme="@style/hpay_custom_confim_dialog" />
        <activity
            android:name="com.arcsoft.hpay100.web.HPayWebFullActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="behind" />
        <activity
            android:name="cn.m4399.operate.ui.activity.CaptchaActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <!-- 一键登录 -->
        <!-- 注意！ 电信/移动一键登录Activity，需要根据游戏在此实际横竖屏方向设置方向 -->
        <activity
            android:name="cn.com.chinatelecom.account.sdk.ui.AuthActivity"
            android:exported="false"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />

        <!-- 注意！ 电信/移动一键登录Activity，需要根据游戏在此实际横竖屏方向设置方向 -->
        <activity
            android:name="cn.com.chinatelecom.account.sdk.ui.PrivacyWebviewActivity"
            android:exported="false"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />

        <activity
            android:name="cn.m4399.operate.control.onekey.wo.WoLoginActivity"
            android:exported="false"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />

        <activity
            android:name="cn.m4399.operate.control.onekey.wo.WoPrivacyContentActivity"
            android:exported="false"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!--  兼容7.0+ 安装更新崩溃的bug
        android:authorities="游戏包名.operate.FileProvider"-->
        <provider
            android:name="cn.m4399.operate.OpeFileProvider"
            android:authorities="${applicationId}.operate.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/m4399_ope_file_paths" />
        </provider>
    </application>
</manifest>
