<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.u8.sdk" >
    <!--    xmlns:tools="http://schemas.android.com/tools"-->
    <!--
         4399 运营SDK：
         以下是权限配置，包括第三方SDK需要的，以jar+res 方式接入需要打开以下内容，aar则不需
      -->
    <!-- 一般性权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<!--    <uses-permission-->
<!--        android:name="android.permission.WRITE_EXTERNAL_STORAGE"-->
<!--        tools:ignore="ScopedStorage" />-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- 短代权限 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!-- 一键登录 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--suppress DeprecatedClassUsageInspection -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 4399 运营SDK：Android 11兼容，声明所要进行交互的应用包名，主要用于外部授权登录 -->
    <queries>
        <package android:name="com.m4399.gamecenter" />
        <package android:name="com.tencent.mobileqq" />
        <package android:name="com.sina.weibo" />
        <package android:name="com.tencent.mm" />
    </queries>

    <!--
        4399 运营SDK： 游戏application要注意对 android 9.+ 系统的http请求的兼容配置，参考
        android:networkSecurityConfig="@xml/m4399_network_policy"
    -->
    <application>
        <!-- 4399 运营SDK：旧的http请求库的兼容 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!--
            4399 运营SDK： 以下是 Activity 配置，以jar+res 方式接入需要打开以下内容，aar则不需
            另外，第三方页面方向有时候需要明确设置，比如支付宝h5页面，可以设置为横屏

            activity的配置不能少于orientation|screenSize|keyboardHidden，这些配置是为了防止Activity被系统或第三方界面强
            拉成竖屏时，发生重建而加入的。SDK的Activity支持横屏或竖屏，但不支持横竖屏切换，否则会包初始化问题
        -->
        <activity
            android:name="cn.m4399.operate.permission.PermissionActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:multiprocess="false"
            android:screenOrientation="behind"
            android:theme="@style/m4399.Operate.Theme.Transparent" />
        <activity
            android:name="cn.m4399.operate.component.OperateActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@style/m4399TranslucentFullscreenActivityTheme" />
        <activity
            android:name="cn.m4399.operate.recharge.ui.activity.RechargeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@style/m4399TranslucentFullscreenActivityTheme" />
        <activity
            android:name="cn.m4399.operate.deprecated.CommonActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@style/m4399TranslucentFullscreenActivityTheme" />

        <!-- 4399 运营SDK：以下是支付宝 H5 页面Activity -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- 4399 运营SDK：以下是短代充值相关SDK -->
        <activity
            android:name="com.arcsoft.hpay100.HPaySdkActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.arcsoft.hpay100.web.HPayWebActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="behind"
            android:theme="@style/hpay_custom_confim_dialog" />
        <activity
            android:name="com.arcsoft.hpay100.web.HPayWebFullActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="behind" />

        <!-- 4399 运营SDK：以下是一键登录SDK -->
        <activity
            android:name="cn.com.chinatelecom.account.sdk.ui.AuthActivity"
            android:exported="false"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <activity
            android:name="cn.com.chinatelecom.account.sdk.ui.PrivacyWebviewActivity"
            android:exported="false"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <activity
            android:name="cn.m4399.operate.account.onekey.wo.WoLoginActivity"
            android:exported="false"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />

        <!--
            4399 运营SDK：以下是FileProvider配置，以兼容7.0+文件访问权限变更

            注意其中的固定格式： android:authorities="游戏包名.operate.FileProvider"
            以及，android:resource="@xml/m4399_ope_file_paths"
         -->
        <provider
            android:name="cn.m4399.operate.OpeFileProvider"
            android:authorities="cn.m4399.operate.samples.operate.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/m4399_ope_file_paths" />
        </provider>
    </application>
</manifest>
