<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.u8.sdk">

    <!-- 网络请求 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取设备WIFI连接状态 ，非必要，但建议保留-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 检测网络状态 ，非必要，但建议保留 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 读取日志 ，非必要，但建议保留 -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- Midas需要，向SD卡写入文件，非必要权限  -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 获取机型信息和运营商信息，非必要权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>

        <activity
            android:name="com.u8.sdk.ChooseLoginTypeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@style/dialogcustom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!-- TODO GAME SDK接入YSDK初始化配置 START -->
        <meta-data
            android:name="MAIN_ACTIVITY"
            android:value="游戏的主Activity完整路径" />
        <!-- TODO GAME SDK接入YSDK初始化配置 END -->

        <!-- TODO GAME SDK QQ接入配置 START -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1107228546" />
                <!-- TODO GAME 这里为游戏QQ登录的配置，游戏需要修改为自己手Q的appid -->
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- TODO GAME SDK QQ接入配置 END -->

        <!-- TODO GAME SDK 微信接入配置 START -->
        <activity
            android:name="com.tencent.ysdk.module.user.impl.wx.YSDKWXEntryActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="WXEntryActivity"
            android:launchMode="singleTop"
            android:taskAffinity=".diff"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <!-- TODO GAME 这里为游戏微信登录的配置，游戏需要修改为自己的包名加.diff -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="wxbed3a0e52f2cac9c" />
                <!-- TODO GAME 这里为游戏微信登录的配置，游戏需要修改为自己的微信appid -->
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:targetActivity="com.tencent.ysdk.module.user.impl.wx.YSDKWXEntryActivity" />
        <!-- TODO GAME 1.4.1之后版本支持微信扫码登录，低于此版本升级的YSDK务必增加此处Activity用于二维码展示 -->
        <activity
            android:name="com.tencent.ysdk.module.user.impl.wx.qrcode.QRActivity"
            android:launchMode="singleInstance" />
        <!-- TODO GAME SDK 微信接入配置 END -->

        <!-- TODO GAME SDK接入免登录接入配置 START -->
        <activity
            android:name="com.tencent.ysdk.module.user.impl.freelogin.FreeLoginInfoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <!-- TODO GAME 这里为解析外部传入的登录信息，为云设备或者沙盒游戏宿主所调用,这里tencentysdk1104936059中tencentysdk的后缀是QQ_APP_ID -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencentysdk1104936059" />
            </intent-filter>
        </activity>
        <!--TODO GAME SDK接入YSDK登陆接入配置 END -->

        <!-- TODO GAME SDK Midas接入配置 START -->
        <activity
            android:name="com.tencent.midas.proxyactivity.APMidasPayProxyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.midas.wx.APMidasWXPayActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.tencent.midas.qq.APMidasQQWalletActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="qwallet100703379" />
                <!-- TODO GAME 这里为米大师的默认配置，游戏不要修改 -->
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.midas.jsbridge.APWebJSBridgeActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- TODO GAME SDK Midas接入配置 END -->

        <!--省流量更新SDK的下载服务须注册-->
        <service
            android:name="com.tencent.tmdownloader.TMAssistantDownloadService"
            android:exported="false"
            android:process=":TMAssistantDownloadSDKService" />

        <!-- TODO 鉴权SDK 接入配置 START -->
        <activity
            android:name="com.tencent.qqdownloader.pay.QQDownloaderEntryActivity"
            android:exported="true" />

        <meta-data
            android:name="YSDK_AUTH_KEY"
            android:value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAsKX4kg6T32qn8uHc6j9AwMeQzpUW3hh6o8WiBJi9wlx0pWWRLoqdQuhoUPGpfrdVyt/iEnlvF4fmCkk82bJxXv4x2QRqR4tq3Li5YODzk/xLlQsa3F9nPb+iadqdQJfm6n53ts3uxkApl3gMURuw8SfoFuzuB3mpYHFO+DXQ7BSU2N/+Sdjb6xuOPWHrk9kXSo+h2VTkCwYcpEVC505T0MoA4PtX3GwsO7+lSJrRwuwzXi0eBi5evV57g9WhNnsZLfHTYqC43EGfbj0+/rNXQgz2AfJ78y5jW0am2WMBaO4Sao/acYHu/e+PSqr+fvolmbB1cFLCkCFnF6jBMuk8AQIDAQAB" />
        <meta-data
            android:name="YSDK_AUTH_KEY_VERSION"
            android:value="0" />
        <!-- TODO 鉴权SDK 接入配置 END -->
    </application>
</manifest>
