<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.u8.sdk">

    <!-- ↓↓↓ SDK ↓↓↓ -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--安装应用权限-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- ↑↑↑ SDK ↑↑↑ -->

    <application>
        <!-- ↓↓↓ SDK ↓↓↓ -->
        <!-- 0-百度 1-多酷 2-91 -->
        <meta-data
            android:name="BDPlatformType"
            android:value="0" />
        <meta-data
            android:name="BDGameVersion"
            android:value="4.4.4" />

        <activity
            android:name="com.baidu.gamesdk.impl.CallBackActivity"
            android:configChanges="orientation|navigation|screenSize|keyboard|keyboardHidden"
            android:exported="true"
            android:theme="@style/bdp_dialog_style_fullscreen" />
        <activity
            android:name="com.baidu.platformsdk.LoginActivity"
            android:configChanges="orientation|navigation|screenSize|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/bdp_dialog_style_fullscreen" />
        <activity
            android:name="com.baidu.platformsdk.AssistActivity"
            android:configChanges="orientation|navigation|screenSize|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/bdp_dialog_style_fullscreen" />
        <activity
            android:name="com.baidu.platformsdk.ConcertActivity"
            android:configChanges="orientation|navigation|screenSize|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/bdp_style_transparent" />
        <activity
            android:name="com.baidu.platformsdk.BindPhoneActivity"
            android:configChanges="orientation|navigation|screenSize|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/bdp_dialog_style_fullscreen" />
        <activity
            android:name="com.baidu.platformsdk.CashierDeskActivity"
            android:configChanges="orientation|navigation|screenSize|keyboard|keyboardHidden"
            android:exported="false"
            android:theme="@style/bdp_dialog_style_fullscreen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.baidu.platformsdk.WebActivity"
            android:configChanges="orientation|navigation|screenSize|keyboard|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.baidu.platformsdk.ModifyPasswordActivity"
            android:configChanges="orientation|navigation|screenSize|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/bdp_dialog_style_fullscreen" />
        <activity
            android:name="com.baidu.platformsdk.ThirdPartyLoginActivity"
            android:configChanges="orientation|navigation|screenSize|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.baidu.platformsdk.VisitorBindActivity"
            android:configChanges="orientation|navigation|screenSize|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/bdp_dialog_style_fullscreen" />
        <activity
            android:name="com.baidu.platformsdk.BaiduBeanDetailActivity"
            android:configChanges="orientation|navigation|screenSize|keyboard|keyboardHidden"
            android:exported="false"
            android:theme="@style/bdp_dialog_style_fullscreen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.baidu.platformsdk.OrderDetailActivity"
            android:configChanges="orientation|navigation|screenSize|keyboard|keyboardHidden"
            android:exported="false"
            android:theme="@style/bdp_dialog_style_fullscreen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.baidu.platformsdk.SapiWebActivityNew"
            android:configChanges="orientation|navigation|screenSize|keyboard|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.baidu.platformsdk.SapiLoginProxyActivity"
            android:configChanges="orientation|navigation|screenSize|keyboard|keyboardHidden"
            android:exported="false"
            android:theme="@style/bdp_dialog_style_fullscreen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.baidu.platformsdk.wxpay.PayActivity"
            android:configChanges="orientation|navigation|screenSize|keyboard|keyboardHidden"
            android:exported="true"
            android:theme="@style/bdp_dialog_style_fullscreen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.baidu.platformsdk.wxpay.ProxyActivity"
            android:configChanges="orientation|navigation|screenSize|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="true"
            android:screenOrientation="behind"
            android:theme="@style/bdp_style_transparent"></activity>
        <activity
            android:name="com.baidu.platformsdk.wxpay.wxapi.WXPayEntryActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/bdp_style_transparent"></activity>
        <activity
            android:name="com.baidu.platformsdk.AuthenticateActivity"
            android:configChanges="orientation|navigation|screenSize|keyboard|keyboardHidden"
            android:exported="false"
            android:theme="@style/bdp_dialog_style_fullscreen"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.baidu.platformsdk.FloatWindowActivity"
            android:configChanges="orientation|navigation|screenSize|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/bdp_dialog_style_fullscreen" />
        <activity
            android:name="com.baidu.platformsdk.ErrorDialogActivity"
            android:configChanges="orientation|navigation|screenSize|keyboard|keyboardHidden"
            android:exported="false"
            android:theme="@style/bdp_dialog_style_fullscreen"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.duoku.platform.permission.GamePermissionActivity"
            android:configChanges="orientation|navigation|screenSize|keyboard|keyboardHidden"
            android:theme="@style/bdp_dialog_style_fullscreen" />
        <activity
            android:name="com.duoku.platform.ui.AntiAddictionDialogActivity"
            android:configChanges="orientation|navigation|screenSize|keyboard|keyboardHidden"
            android:exported="false"
            android:theme="@style/bdp_dialog_style_fullscreen"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <service
            android:name="com.baidu.platformsdk.BDPlatformService"
            android:exported="false" />

        <!-- ↓↓↓wx qq auth ↓↓↓-->
        <activity
            android:name="com.baidu.platformsdk.wxpay.AuthActivity"
            android:configChanges="orientation|navigation|screenSize|keyboard|keyboardHidden"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.baidu.platformsdk.wxpay.QQAuthActivity"
            android:configChanges="orientation|navigation|screenSize|keyboard|keyboardHidden"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent"
            android:windowSoftInputMode="adjustPan" />
        <!--↑↑↑wx qq auth end↑↑↑ -->

        <!-- ↑↑↑ SDK ↑↑↑ -->


        <!-- ↓↓↓ 支付宝插件 ↓↓↓ -->
        <activity
            android:name="com.baidu.platformsdk.pay.channel.ali.AliPayActivity"
            android:configChanges="orientation|navigation|screenSize|keyboard|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="behind">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="alipay.app"
                    android:pathPrefix="/result"
                    android:scheme="bdpsdkcom.baidu.bdgamesdk.demo" />
            </intent-filter>
        </activity>
        <!-- ↑↑↑ 支付宝插件 ↑↑↑ -->


        <!-- ↓↓↓ QQ插件 需修改<data android:scheme="qwallet+packagename" />↓↓↓ -->
        <activity
            android:name="com.baidu.platformsdk.pay.channel.qqwallet.QQPayActivity"
            android:configChanges="orientation|navigation|screenSize|keyboard|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="qwalletcom.baidu.bdgamesdk.demo" />
            </intent-filter>
        </activity>
        <!-- ↑↑↑ QQ插件 ↑↑↑ -->


        <!-- ↓↓↓ 多酷SDK ↓↓↓ -->
        <activity
            android:name="com.duoku.platform.ui.DKContainerActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name="com.duoku.platform.ui.DKContainerFloatActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/bdp_dialog_style_fullscreen"></activity>
        <!--授权使用的activity-->
        <activity
            android:name="com.baidu.platformsdk.kkauth.KKAuthActivity"
            android:configChanges="orientation|navigation|screenSize|keyboard|keyboardHidden"
            android:exported="true"
            android:theme="@style/bdp_style_transparent"
            android:windowSoftInputMode="adjustPan" />

        <!-- 下载管理 -->
        <activity
            android:name="com.duoku.platform.ui.DKDownloadManagerActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>

        <!--下载服务-->
        <service android:name="com.duoku.platform.download.DownloadService" />

        <!-- ↓↓↓ mat ↓↓↓ com.baidu.bdgamesdk.demo 需要将包名替换为游戏自己包名 -->
        <provider
            android:name="com.tencent.mid.api.MidProvider"
            android:authorities="com.baidu.bdgamesdk.demo.TENCENT.MID.V3"
            android:exported="true"></provider>
        <!-- ↑↑↑ mat ↑↑↑ -->

        <!-- 需修改android:authorities="com.baidu.bdgamesdk.demo"替换com.baidu.bdgamesdk.demo为您自己应用的包名, 如：android:authorities="com.baidu.test" -->
        <provider
            android:name="com.baidu.platformsdk.BDGameFileProvider"
            android:authorities="com.baidu.bdgamesdk.demo.bdgame.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/bdp_game_download_paths" />
        </provider>

        <!-- 4.3.0 cloud -->
        <service
            android:name="com.baidu.operationsdk.BDGameService"
            android:exported="true" />

    </application>
</manifest>
